$font: 'Roboto Mono', monospace;

//rotate
.elemant_rotate{
    transform: rotate(270deg);
}

p{
    font-family: $font;
}

//title
.diaryTitle{
    display: flex;
    justify-content: center;
        input{
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: solid burlywood;
            background: content-box;
            font-size: 25px;
            font-family: $font;
            outline: none;
    }
}

td{
    input{
        background: content-box;
        border: none;
        outline: none;
        font-family: $font;
        font-size: 15px;
    }
}

//table
.AllTable{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5% 10% 0 10%;
    font-family: $font;
}

.AllTable__Mon-Tus-Wen{
    table{
        margin: 20px;
    }
}

.AllTable__Tha-Fri-dop{
    table{
        margin: 20px;
    }
    textarea{
        margin: 0 20px;
        height: 20%;
        width: 84.5%;  
        background: border-box;
        color: black;
        font-size: 20px;
        font-family: $font;
    }
}

table{
    border: 1px solid black;
}

.dateText_rotateMonday{
    margin: 0 -25px 0 -25px;
}

.dateText_rotateTusday{
    margin: 0 -20px;
}

.dateText_rotateWensday{
    margin: 0 -11px;
}

.dateText_rotateThatueday{
    margin: 0 -11px;
}

.dateText_rotateFriday{
    margin: 0 -20px;
}