// Only header
$font: 'Roboto Mono', monospace;
$fontP: 'Roboto Mono', monospace;
$fontOpenSans: 'Open Sans', sans-serif;
$bgSites: wheat;
$Ubuntu: 'Ubuntu', sans-serif;

@mixin font ($fontf, $font) {
    font-family: $fontf;
    font-size: $font;
    color: black;
    font-style: italic;
}

body{
    margin: 0;
    background: $bgSites;
}

.hide{
    opacity: 0;
    transform: translateX(70px);
}

.hide__but{
    position: absolute;
    opacity: 0;
    transform: translateY(-20px);
}

header{
    background: $bgSites;
    margin: 0;
}

.header_prog{
    display: flex;
    justify-content: space-around;
}

.logo{
    margin-top: 0.5%;
}

.logo img{
    width: 40px;
    float: left;
}

.logo h5{
    font-family: $font;
    font-size: 15px;
    margin: 0;
    width: 20em;
}

.logo .title_underText{
    font-family: $fontP;
    font-style: italic;
    font-size: 10px;
}

.nav{
    ul{
        display: flex;
        justify-content: space-evenly;
        li{
        list-style: none;
        font-size: 20px;
        font-family: $fontOpenSans;
        margin: 0 20px 0 20px;
        a{
            color: black;
            text-decoration: none;
            &:hover{
                color: white;
                transform: scale(1.2);
                transition: 1s;
            }
            }
        }
    }
}

.log{
    margin: -5px 0 0 0;
    a{
        list-style: none;
        font-size: 20px;
        font-family: $fontOpenSans;
        color: black;
        &:hover{
            color: white;
            transition: 1s;
        }
    }
}

hr{
    margin: 0 20px 35px 20px;
    background: burlywood;
    border: 1px solid burlywood;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

.main_title{
        h1{
            display: flex;
            justify-content: center;
            font-size: 50px;
            font-family: $font;
        }
        p{
            display: flex;
            justify-content: center;
            text-align: center;
            @include font($fontP, 30px);
        }
        a{
            color: black;
            text-decoration: none;
            font-size: 25px;
            border: 1px solid;
            /* border-radius: 2em; */
            /* padding: 0; */
            width: 8em;
            height: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5em;
            margin: 0 0 0 540px;
        }
}

.sing_up_pos{
    display: flex;
    justify-content: end;
    margin: 0 70px 0 0;
    z-index: 0;
    transition: 1s;
}

.sing_up input{
    border: none;
}

.sing_in input{
    border: none;
}

.sing_up{
    display: inline-block;
    text-align: center;
    position: absolute;
    background: antiquewhite;
    width: 300px;
    height: 310px;
    h5{
        font-size: 20px;
        font-family: $Ubuntu;
    }
    p{
        font-size: 15px;
        font-family: $Ubuntu;
    }
    input{
        width: 200px;
        height: 20px;
        color: black;
        border: none !important;
    }
}

.sing_in_pos{
    display: flex;
    justify-content: end;
    margin: 0 70px 0 0;
    z-index: 0;
    transition: 1s;
}

.sing_in{
    display: inline-block;
    text-align: center;
    position: absolute;
    background: antiquewhite;
    width: 300px;
    height: 310px;
    h5{
        font-size: 20px;
        font-family: $Ubuntu;
    }
    p{
        font-size: 15px;
        font-family: $Ubuntu;
    }
    input{
        width: 200px;
        height: 20px;
        color: black;
        border: none !important;
    }
}

.line{
    font-size: 25px;
}

//Diary

.date_column{
    transform: rotate(90deg);
}

.nav_but button{
    background: content-box;
    border: none;
    font-size: 150%;
    font-family: system-ui;
}

@media screen and (max-width: 3000px){
    .nav_but{
        display: none;
    }
}

@media screen and (max-width: 1030px){
    .nav{
        ul{
            padding: 0 60px 0 0;
            width: 95%;
        }
    }
    
    .header_prog{
        margin: 0 45px -5px 45px;
    }
    .main_title{
        a{
            margin: 0 0 0 40.5%;
        }
    }
    .nav_but{
        display: none;
    }
}

@media screen and (max-width: 780px){
    .nav{
        display: none;
    }

    .nav_but{
        display: block;
    }

    .adapted_nav{
        position: absolute;
        background-color: burlywood;
        border: 1px solid black;
        margin: 10% 0 0 16%;
        padding: 2%;
        transition: 1s;
    }
        ul{
            padding: 0;
            li{
                list-style: none;
                a{
                    color: black;
                    text-decoration: none;
                    font-family: $font;
                    font-size: 20px;
                }
            }
        }
        button{margin: 13% 0 0 0;}
        .main_title a{
            margin: 0 0 0 37.5%;
        }
}
